.DS_Store
.classpath
.project
/.settings/
/target/
/robotkeywords/
/testcase_api/
/test-output/*
log.html
*.robot-log.html
output.xml
*.robot.xml
report.html
*.robot-report.html
automation.log
framework.log
*.log.*
/bin/
